[*.cs]

# Default severity for analyzer diagnostics with category 'Style'
dotnet_analyzer_diagnostic.category-Style.severity = none

# CS0168: Variable is declared but never used
dotnet_diagnostic.CS0168.severity = warning
